.main {
  width: calc(100% - 32px);
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-top: 80px;
  // border: solid 1px #000;
  padding: clamp(16px, 4vw, 40px);
  background: #fff;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 32px);
    height: calc(100% + 32px);
    display: block;
    border: solid 2px #fff;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
.container {
  height: fit-content;
  margin-top: auto;
}
