.header {
  position: sticky;
  top: 0;
  width: fit-content;
  align-self: start; //これがないとgrid内でstickyが動かない
}
.logo {
  font-size: 6rem;
  font-weight: 900;
}
.menu {
  margin-top: 32px;
  font-size: 18px;
}
