.container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: clamp(0px, 1050px, 90vw);
}
.main {
  width: 100%;
  text-align: right;
}
.px {
  font-size: 16px;
}
.em {
  font-size: 1.6em;
}
.rem {
  font-size: clamp(1.6rem, 2vw, 2.4rem);
}
.top_image {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.top_title {
  position: relative;
}
