@use "../styles/mixins";
.container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: clamp(0px, 1050px, 90vw);
}
.main {
  width: 100%;
  text-align: right;
}
.px {
  font-size: 16px;
}
.em {
  font-size: 1.6em;
}
.rem {
  font-size: clamp(1.6rem, 2vw, 2.4rem);
}
.top_image {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.top_title {
  position: relative;
  @include mixins.sp {
    text-align: center;
  }
  h1 {
    font-size: 7rem;
    margin-bottom: 0;
    color: #fff;
    filter: drop-shadow(1px 1px 1px rgb(142, 142, 142));
  }
  p {
    font-family: "Noto Serif JP";
    font-size: 2rem;
    @include mixins.sp {
      font-size: 1.6rem;
    }
  }
}
