.work_list {
  width: clamp(20vw, 560px, 40vw);
}
.work_item {
  margin-bottom: 124px;
  position: relative;
  &::before {
    content: "";
    width: 60px;
    height: 1px;
    top: -16px;
    right: 0;
    background: #000;
    position: absolute;
  }
}
.work_title {
  font-size: 2rem;
  margin-bottom: 32px;
  font-weight: 600;
}

.category {
  font-size: 1.8rem;
  margin: 16px 0 4px;
}
.tag_list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
  font-size: 1.2rem;
  justify-content: flex-end;
}
